@font-face {
  font-family: 'Epilogue';
  src: url(assets/epilogue/Epilogue-VariableFont_wght.ttf);
}

.navegador {
  display: flex;
  background-color: #5136AD;
  
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navegador_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegador_flex_left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navegador_flex_sections {
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0px;
    line-height: normal;
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
    margin: 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}

.navegador_flex_buttons {
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

.navegador_flex_logo {
  background-color: #432D8C;
  border-radius: 20px;
  border: 0px;
  padding: 8px;
  width: 140px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: white;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

.navegador_flex_discord {
  border-radius: 8px;
  background-color: #5865F2;
  border: 0px;
  padding: 8px;
  width: 140px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: white;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

.navegador_flex_clase {
  border-radius: 8px;
  background-color: #2D8CFF;
  border: 0px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}


.navegador_flex_notificaciones {
  width: 20px;
  border: 0px;
  padding: 5px;
  background-color: #432D8C;
  border-radius: 200px;
  
}

.bar {
  display: flex;
  background-color: #1A1A1A;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.bar_items {
  color: #8a8a9c;
  text-decoration: none;
  transition: color 0.4s;
  font-size: 14px;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 14px;
}

.bar_items:hover {
  color: white;
}

.heading_resumen {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  font-family: Epilogue;
  color: #fff;
  margin-left: 100px;
  margin-bottom: 15px;
}

.paragraph_resumen {
  font-style: normal;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  margin-left: 100px;
  font-size: 16px;
  margin-bottom: 30px;
}

.coursecard {
  height: 220px;
  border-radius: 8px;
  margin-left: 100px;
  margin-right:100px;
  background-size: cover!important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.coursecard_content{
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0,0,0,.1);
  backdrop-filter: blur(10px);
  display: flex;
  height: 100%;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  
}

.coursecard_content_header {
  font-size: 18px;
  color: white;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  margin: 0px;
  margin-left: 30px;
}

.coursecard_content_web {
  font-size: 32px;
  color: white;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  margin: 0px;
  margin-left: 30px;
}

.coursecard_content_stats {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.coursecard_content_stats_lecturas {
  background-color: #14c7d0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coursecard_content_stats_cuestionarios {
  background-color: #ba85ff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 110px;
  margin-right: 110px;
  gap: 20px;
  justify-items: center;
  column-gap: 60px;
  row-gap: 30px;
  margin-top: 50px;
}

.cards_grid-1 {
  background-color: #0C0C0C;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
}


.article_card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.flex_article_header-1 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color:#fff;
  margin: 0px;
  margin-left: 20px;
}

.flex_article_text-1 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color:#fff;
  margin: 20px;
}

.flex_asistencia-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6px 8px;
  margin-left: 20px;
  margin-right: 16px;
  flex-wrap: wrap;
}

.flex_asistencia-fecha-1 {
  background-color: #14c7d0;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 12px;
  width: 42px;
  box-sizing: inherit;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

.cards_grid-2 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
  background-size: cover!important;
}


.article_card-2 {
  background: rgba(0,0,0,.1);
  backdrop-filter: blur(10px);
  display: flex;
  margin: -11px;
  height: 100%;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article_flex_header-2 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;  
}
  
.article_flex_text-2 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

.cards_grid-3 {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
  background-image: url(/assets/bg-one.83364c95.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.article_flex_play-3 {
  background-image: url(assets/download.png);
  height: 60px;
  width: 60px;
  background-size: cover!important;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0px;
  margin: 20px;
}

.article_flex_header-3 {
  font-family: Epilogue;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
  margin: 20px;
}

.article_flex_text-3 {
  font-family: Epilogue;
  color: white;
  font-weight: 700;
  font-size: .75rem;
  margin: 20px;
  
}

.cards_grid-4 {
  background-color: #0C0C0C;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
}

.article_card-4 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.article_card_yaxche-4 {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.article_flex_yaxche_image-4{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 20px;
}

.article_flex_yaxche_header-4 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.article_flex_yaxche_text-4 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
  margin-top: 0px;
}

.article_card_felipe-4 {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.article_flex_felipe_image-4{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 20px;
}

.article_flex_felipe_header-4 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.article_flex_felipe_text-4 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
  margin-top: 0px;
}

.cards_grid-5 {
  background-color: #0C0916;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
}

.article_card-5 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_flex_header-5 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  margin-top: -10px;
}

.article_flex_text-5 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
}

.cards_grid-6 {
  background-color: #0C0916;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
}

.article_card-6 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_flex_header-6 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  margin-top: -10px;
}

.article_flex_text-6 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin-left: 23px;
  margin-right: 18px;
}

.cards_grid-7 {
  background-color: #0C0916;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 280px;
}

.article_card-7 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_flex_header-7 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  margin-top: -10px;
}

.article_flex_text-7 {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin-left: 23px;
  margin-right: 18px;
}
